body{
    text-align: center; 
    background-image: url(../image/background.jpeg);
    margin-bottom: 20px;
}

button{
    border: 3px solid black;
    border-radius: 10px;
    background-color: aqua;
    margin: 3px;
    margin-top: 20px;
}

input{
    margin-top: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    width: 300px;
    height: 50px  
}
h2{
    color: maroon;
}
h3{
    color: maroon;
    font-family: cursive;
}
span{
    font-weight: 600;
    font-family: cursive;
    margin-left: 10px;
}

th{
    color: orange;
    padding: 20px;
}
td{
    color: rgb(255, 0, 0);
}
